h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	padding: 0;
	margin: 0;
}
/*-- Layout Styles
--*/
body {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;	
	overflow-x: hidden;
	background-color: #FFF;
}
a {
	font-weight: 700;
	color: darkgreen;
	text-decoration: none;
}
a:visited {
	color: darkgreen;
}
a:hover {
	color: green;
}
a:focus {
	outline-color: transparent;
    text-decoration: none;
}
h1, h2 {
	font-family: 'Roboto Slab';
	font-weight: 300;
}
