/*--Resets
--*/
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {max-width: 100%;}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: separate; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:after { content: " "; display: block; clear: both; }

/*-- 
Color Palette
	26BDFC 
	  --vivid blue
	797E7F
	  --storm gray
	49A8A8
	  --north sea
	262D40
	  --deep navy
	FF9E59
	  --sunset orange
--*/

/*-- Default Styles
--*/
html {
	font-size: 17px; /*--sets root pixel size--*/
}
body {
	overflow-x: hidden;
	background-color: #49A8A8;
	font-family: Roboto;
	font-weight: 300;
	color: #797E7F;
}
header {
  font-size: 4rem;
  color: #FFF;
}
footer {
  font-size: .9rem;
  color: #FFF;
  padding: 1em 2em;
}
aside {
  font-size: 1.2rem;
}
article {
	background-color: #49A8A8;
}
h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
h5 {font-size: 1em;}
h6 {font-size: 1em;}
p {font-size: 1em;}
a {
	font-weight: 700;
	color: #26BDFC;
	text-decoration: none;
}
a:visited {
	color: darkgreen;
}
a:hover {
	color: green;
}
a:focus {
	outline-color: transparent;
    text-decoration: none;
}

h1, h2 {
	font-family: 'Roboto Slab';
	font-weight: 300;
}
/*--Container Styles
--*/
.featured {
	display: flex;
}
.branding {
}
.gallery {
	width: 60%;
	background-color: #FFF;
}
.rss-feeds {
	background-color: #FFF;
	width: 40%;
}
img.gal-img {
	width: 100%;
	height: auto;
}
.low {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	border-top: 4px dashed #FFF;
	margin-top: 1em;
	padding-top: .5em;
}
.card {
	margin: .5em 0.25em;
	background-color: #49A8A8;
}
.card-in img {
	width: 100%;
	height: auto;
}
.card {
  position: relative;
  margin: 10px auto;
  width: 300px;
  height: 225px;
  z-index: 1;
}
.card {
  perspective: 100;
}
.card-in {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .75s ease-out .25s;
}
.card:hover .card-in {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #49A8A8;
}
.face.back h1 {font-size: 10em; line-height: 1;}
.face.back h5 {font-size: 2em; line-height: 1;color: #FF9E59;}
.face.back p {font-size: 1.5em; line-height: 1;color: #FF9E59;}

/*--Footer Styles
--*/
.copy {
}
/*--Media Queries
--*/
@media (max-width: 900px) {
	html {font-size: 15px;}/*--sets pixel size breakpoint--*/
}
@media (max-width: 400px) {
	html {font-size: 13px;}/*--sets pixel size breakpoint--*/
}
